@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    font-family:'poppins', sans-serif;
  
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.5 ), rgba(0,0,0,0.5)),url(../images/vecteezy_vivid-birthday-cake-background_27110675.jpg);
    color: white;
    background-size: cover;
    background-position: center;
}
.counter{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
p{
    font-size: 12px;
}
.birth{
    font-size: 50px;
    font-weight: 400;
    margin-top: 30px;
}
.box{
    width: 50px;
    height: 50px;
    text-align: center;
  
}
.box h2{
    font-size: 20px;
    font-weight: 500;
}
.box small{
font-size: 10px;;
}

@media (min-width:564px){
   h2{
    font-size: 100px;
   }
   p{
       font-size: 18px;
    }
    .box h2{
        font-size:30px;
    }
    .box{
        width: 100px;
        height: 100px;
    }
    .box small{
        font-size: 15px;
    }
    
}
@media (min-width:768px){
    
    h2{
        font-size: 150px;
    }
    p{
        font-size: 30px;
    }
    .box h2{
        font-size:40px;
    }
    .box{
        width: 150px;
        height: 150px;
    }
    .box small{
        font-size: 20px;
    }
    
}